<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create appointment</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .error {
            color: rgba(255,0,0,0.91);
        }
    </style>
</head>
<body>

<div th:insert="navbar :: navbar"></div>

<form th:object="${appointment}" th:action="@{/appointments}" th:method="POST" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{user}"/>
    <div class="container" style="justify-content: center; padding-top: 20px;">
        <div class="panel panel-primary" style="border-radius: 20px; border-width: 1px; border-style: solid; border-color: rgb(75,77,79);">
            <div class="panel-heading" style="border-top-left-radius: 20px; border-top-right-radius: 20px; background-color:rgba(0,123,255,0.73); padding: 3px;">
                <h1 class="panel-title text-center" style="color:white" >Create appointment</h1>
            </div>
            <div class="panel-body" style="padding: 20px;">
                <div class="row" style="justify-content: center;">
                    <div class="col-md-3">
                        <label for="job">Job: </label>
                        <select id="job" name="job" class="form-control" th:field="*{job.id}">
                            <option
                                    th:each="job:${jobs}"
                                    th:value="${job.id}" th:text="${job.type.description} + ' - ' + ${job.carType.description}">
                            </option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="car">Car: </label>
                        <select id="car" name="car" class="form-control" th:field="*{car.id}">
                            <option
                                    th:each="car:${cars}"
                                    th:value="${car.id}" th:text="${car.licensePlate}">
                            </option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label th:for="startTime" >Date and time:</label>
                        <input type="datetime-local" class="form-control" th:field="*{startTime}"/>
                    </div>
                </div>

                <div class="row" style="padding-top: 30px;">
                    <div class="col-md-7 ml-md-auto">
                        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                    </div>
                </div>

            </div>
        </div>

        <ul style="padding: 25px;">
            <li th:if="${#fields.hasErrors('startTime')}">
                <label class="error" th:errors="*{startTime}">Appointment date and time is missing or does not match the required format.</label>
            </li>
            <li th:if="${#fields.hasErrors('car')}">
                <label class="error" th:errors="*{car}"></label>
            </li>
            <li th:if="${#fields.hasErrors('job')}">
                <label class="error" th:errors="*{job}"></label>
            </li>
        </ul>

    </div>
</form>
</body>
</html>