<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Car details</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div th:insert="navbar :: navbar"></div>

<div class="container center" style="margin-top: 50px">
    <div class="row" style="justify-content: center">
        <div class="col-md-8 col-md-offset-3">
            <div class="panel-group">
                <div class="panel panel-primary" style="border-radius: 20px; border-width: 1px; border-style: solid; border-color: rgb(75,77,79);">
                    <div class="panel-heading" style="border-top-left-radius: 20px; border-top-right-radius: 20px; background-color:rgba(0,123,255,0.73); padding: 3px;">
                        <h1 class="panel-title text-center" style="color:white" >Car details</h1>
                    </div>
                    <div class="panel-body" style="padding-left: 20px; padding-top: 10px;">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Type:</strong>
                            </div>
                            <div class="col-md-6 float-right">
                                <p th:text="${car.type.description}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <strong>License plate:</strong>
                            </div>
                            <div class="col-md-6 float-right">
                                <p th:text="${car.licensePlate}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Created at:</strong>
                            </div>
                            <div class="col-md-6 float-right">
                                <p th:text="${car.createdAt.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm'))}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Created by:</strong>
                            </div>
                            <div class="col-md-6 float-right">
                                <p th:text="${car.user.email}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 15px;">
        <div class="row" style="justify-content: center">
            <a sec:authorize="hasRole('GUEST')" class="btn btn-primary" role="button" th:href="@{'/cars/form/' + ${car.id}}">Update car</a>
            <form sec:authorize="isAuthenticated()" th:action="@{'/cars/' + ${car.id}}" th:method="DELETE" style="margin-left: 10px;">
                <button class="btn btn-danger" type="submit"
                        onclick="if (!confirm('Are you sure?\nThis action is not reversible!')) return false;">
                    Delete car
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>