<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create car</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .error {
            color: rgba(255,0,0,0.91);
        }
    </style>
</head>
<body>

<div th:insert="navbar :: navbar"></div>

<form th:object="${car}" th:action="@{/cars}" th:method="POST" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{createdAt}"/>
    <div class="container" style="justify-content: center; padding-top: 20px;">
        <div class="panel panel-primary" style="border-radius: 20px; border-width: 1px; border-style: solid; border-color: rgb(75,77,79);">
            <div class="panel-heading" style="border-top-left-radius: 20px; border-top-right-radius: 20px; background-color:rgba(0,123,255,0.73); padding: 3px;">
                <h1 class="panel-title text-center" style="color:white" >Create car</h1>
            </div>
            <div class="panel-body" style="padding: 20px;">
                <div class="row" style="justify-content: center;">
                    <div class="col-md-3">
                        <label for="jobType">Type: </label>
                        <select id="jobType" name="jobType" class="form-control" th:field="*{type}">
                            <option
                                    th:each="type:${T(com.awbd.project.model.CarType).values()}"
                                    th:value="${type}" th:text="${type.description}">
                            </option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label th:for="licensePlate" >License plate:</label>
                        <input type="text" class="form-control" th:field="*{licensePlate}"/>
                    </div>
                </div>

                <div class="row" style="padding-top: 30px;">
                    <div class="col-md-7 ml-md-auto">
                        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                    </div>
                </div>

            </div>
        </div>

        <ul style="padding: 25px;">
            <li th:if="${#fields.hasErrors('type')}">
                <label class="error" th:errors="*{type}"></label>
            </li>
            <li th:if="${#fields.hasErrors('licensePlate')}">
                <label class="error" th:errors="*{licensePlate}"></label>
            </li>
        </ul>
    </div>
</form>
</body>
</html>