<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .container {
            padding-top: 10px;
        }
        .padding {
            padding-bottom: 10px;
            padding-top: 10px;
        }
        .btn {
            margin-right: 20px;
        }
        .details {
            width: 5%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="title padding">
        <h2 class="text-center">List of cars</h2>
    </div>
    <div class="row padding float-right">
        <a class="btn btn-primary" role="button" th:href="@{'/cars/form/'}">
            <div class="glyphicon glyphicon-plus"></div> Add car
        </a>
    </div>
    <table class="table table-hover table-striped table-bordered rounded">
        <thead class="thead-inverse">
        <tr>
            <th class="header" scope="col">Type</th>
            <th class="header" scope="col">License plate</th>
            <th class="header" scope="col">Created at</th>
            <th class="header details" scope="col"></th>
        </tr>
        </thead>
        <tr th:each="car : ${cars}">
            <td th:text="${car.type.description}"></td>
            <td th:text="${car.licensePlate}"></td>
            <td th:text="${car.createdAt}"></td>
            <td><a th:href="@{'/cars/' + ${car.id}}">Details</a></td>
        </tr>
    </table>
</div>
</body>
</html>