<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${exception.getHttpStatus().getReasonPhrase()}"></title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
    <body>
        <div class="page-wrap d-flex flex-row align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <span class="display-1 d-block" th:text="${exception.getHttpStatus().value()}"></span>
                        <p class="mb-4 lead" th:text="${exception.getMessage()}"></p>
                        <a href="javascript:history.back();" class="btn btn-link">Go back</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>