<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .container {
            padding-top: 10px;
        }
        .padding {
            padding-bottom: 10px;
            padding-top: 10px;
        }
        .btn {
            margin-right: 20px;
        }
        .details {
            width: 5%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="title padding">
        <h2 class="text-center">List of employees</h2>
    </div>
    <div class="row padding float-right">
        <a class="btn btn-primary" role="button" th:href="@{'/employees/form/'}">
            <div class="glyphicon glyphicon-plus"></div> Add employee
        </a>
    </div>
    <table class="table table-hover table-striped table-bordered rounded">
        <thead class="thead-inverse">
        <tr>
            <th class="header" scope="col">Email</th>
            <th class="header" scope="col">Phone number</th>
            <th class="header" scope="col">First name</th>
            <th class="header" scope="col">Last name</th>
            <th class="header details" scope="col"></th>
        </tr>
        </thead>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phoneNumber}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td><a th:href="@{'/employees/' + ${employee.id}}">Details</a></td>
        </tr>
    </table>
</div>
</body>
</html>