<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update employee</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<form th:object="${employee}" th:action="@{'/employees/' + *{id}}" th:method="PUT" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    <div class="container" style="justify-content: center; padding-top: 20px;">
        <div class="panel panel-primary" style="border-width: 1px; border-style: solid; border-color: rgb(75,77,79);">
            <div class="panel-heading" style="background-color:rgba(0,123,255,0.73); padding: 3px;">
                <h1 class="panel-title text-center" style="color:white" >Update employee</h1>
            </div>
            <div class="panel-body" style="padding: 20px 20px 20px 30px;">
                <div class="row">
                    <div class="col-md-3">
                        <label th:for="email" >Email:</label>
                        <input type="text" class="form-control" th:field="*{email}"/>
                    </div>

                    <div class="col-md-3">
                        <label th:for="phoneNumber" >Phone number:</label>
                        <input type="text" pattern="[0-9]+" title="Only digits allowed!" class="form-control" th:field="*{phoneNumber}"/>
                    </div>

                    <div class="col-md-3">
                        <label th:for="hireDate" >Hire date:</label>
                        <input type="date" class="form-control" th:field="*{hireDate}"/>
                    </div>
                </div>

                <div class="row" style="padding-top: 20px;">
                    <div class="col-md-3">
                        <label th:for="firstName" >First name:</label>
                        <input type="text" class="form-control" th:field="*{firstName}"/>
                    </div>

                    <div class="col-md-3">
                        <label th:for="lastName" >Last name:</label>
                        <input type="text" class="form-control" th:field="*{lastName}"/>
                    </div>

                    <div class="col-md-3">
                        <label th:for="salary" >Salary:</label>
                        <input type="number" class="form-control" th:field="*{salary}"/>
                    </div>
                </div>


                <div class="row" style="padding-top: 30px;">
                    <div class="col-md-7 ml-md-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </div>
        </div>

        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
        <label th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></label>
        <label th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></label>
        <label th:if="${#fields.hasErrors('hireDate')}">Hire date is missing or does not match the required format.</label>
        <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
</form>
</body>
</html>